---
layout: none
---

@import 'constants';
@import url('fonts.css');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  @include media-query(DESKTOP) {
    font-size: 18px;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $BACKGROUND-COLOR;

  font: normal $TEXT-SIZE $FONT-SANS;
  color: $TEXT-COLOR;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

a {
  font: normal $TEXT-SIZE $FONT-SANS;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;
  font-size: inherit;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

.backround-image {
  display: block;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding: 32px;

  @include media-query(DESKTOP) {
    flex-direction: row;
  }
}

.content-container {
  .list-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
    @include media-query(DESKTOP) {
      width: 66%;
    }
  }

  .info-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
    
    @include media-query(DESKTOP) {
      width: 33%;
      height: 100%;
      min-width: 350px;
    }
  }
}

.content-container {
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    background-image: radial-gradient(rgba(0,0,0,.5), rgba(0,0,0,0) 120%);

    @include media-query(DESKTOP) {
      flex-direction: row;
    }

    .info-title-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 12px;
      font: bold $TITLE-SIZE $FONT-SERIF;

      @include media-query(DESKTOP) {
        display: block;
        margin-bottom: 0;
      }

      .info-title-languages {
        width: 100%;
        padding-top: 0;
        padding-left: 32px;
        display: flex;
        flex-direction: row;
        font: normal $SUBTEXT-SIZE-MOBILE $FONT-SANS;
        text-decoration: none;

        @include media-query(DESKTOP) {
          font-size: $SUBTEXT-SIZE;
          padding-top: 32px;
          padding-left: 0;
        }

        .language-selector {
          cursor: pointer;
          & + .language-selector {
            margin-left: 12px;
          }
          &.selected {
            text-decoration: underline;
          }
        }
      }
    }

    .info-content-container {
      text-decoration: underline;
      font: normal $TEXT-SIZE $FONT-SANS;
      line-height: 1.5;
      padding-left: 16px;

      @include media-query(DESKTOP) {
        font-size: $SUBTEXT-SIZE;
      }
    }
  }
}
