$FONT-SANS: 'liberation-sans', 'Arial', sans-serif;
$FONT-SERIF: 'liberation-serif', 'Times';

$INFO-TITLE-SIZE: 28px;
$INFO-TEXT-SIZE: 11px;
$INFO-LINK-SIZE: 12px;
$LIST-TEXT-SIZE: 46px;

$BACKGROUND-COLOR: #000;
$TEXT-COLOR: #fff;

$LINK-COLOR: $TEXT-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: $LINK-COLOR;

$DESKTOP-MIN-WIDTH: 640px;

$TRANSITION-PERIOD: 0.1s;

@mixin media-query($canvas) {
  @if $canvas == DESKTOP {
   @media only screen and (min-width: $DESKTOP-MIN-WIDTH) { @content; }
  }
}
