<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div id="daily-image" class="backround-image">
      <div class="content-container">
        <div class="list-container">
          {% if page.title == "material.fail" %}
            {% assign publishers = site.pages | where_exp:"page","page.unlist != true" %}
            <ul>
            {% for pub in publishers %}
              <li>
                <a href="{{ site.baseurl }}{{ pub.url }}">{{ pub.title }}</a>
              </li>
            {% endfor %}
            </ul>
          {% elsif page.title == "404" %}
            <div class="_404-text">404</div>
          {% else %}
            <ul>
            {% for book in page.books %}
              <li>
                <a href="{{ book.link }}" target="_blank">{{ book.title }}</a>
              </li>
            {% endfor %}
            </ul>
            {{ content }}
          {% endif %}

          {% unless page.title == "material.fail" %}
            <a href="{{ site.baseurl }}/" class="home-button">material.fail</a>
          {% endunless %}
        </div>

        <div class="info-container-wrapper">
          <div class="info-container">

            <div class="info-title-container">
              <div class="info-title-title">{{ page.title }}</div>
              <div class="info-title-languages">
                <div class="language-selector">en</div>
                <div class="language-selector">es</div>
                <div class="language-selector">pt</div>
              </div>
            </div>

            <div id="intro-text" class="info-content-container">
              <div id="info-en" class="info-content">{{ page.about-en }}</div>
              <div id="info-es" class="info-content">{{ page.about-es }}</div>
              <div id="info-pt" class="info-content">{{ page.about-pt }}</div>

              {% if page.site %}
                <a class="publisher-link" href={{ page.site }} target="_blank">{{ page.site }}</a>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
