<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div id="daily-image" class="backround-image">
      <div class="content-container">
        <div class="list-container">
          BOOK 0<br>
          LIVRO 1<br>
        </div>

        <div class="info-container-wrapper">
          <div class="info-container">
            <div class="info-title-container">
              <div class="info-title-title">{{ page.title }}</div>
            </div>
            <div id="intro-text" class="info-content-container">
              {{ content }}
              <a href={{ page.site }} target="_blank">{{ page.site }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
